.header {
  height: 300px;
  margin-bottom: 40px;
}

.left {
  height: 140px;
  width: 70px;
  background-color: #FF8200;
  border-radius:35px 0 0 35px;
  font-size: 75px;
  color: yellow;
  text-align: center;
  padding-top: 10px;
  margin: 40px 0 15px 0;
  font-family: 'Slackey', cursive;
}

.right {
  height: 170px;
  width: 90px;
  background-color: red;
  border-radius: 0 30px 30px 0;
  margin: 25px 5px  10px 0;
  font-size: 25px;
  padding: 15px;
  color: white;
  font-family: 'Henny Penny', cursive;
  clip-path: polygon(0% 0%, 100% 10%, 100% 80%, 0% 0%);
}

.btn-default {
  width: 140px;
  height: 45px;
  margin: 130px 5px 0px 5px;
  font-size: 22px;
  background-color: red;
  box-shadow: 3px 3px #FF8200;
  border: none;
  color: white;
  font-family: 'Henny Penny', cursive;
}

.categories #dropdownMenu1 {
  padding: none;
}

#dropdownMenu1 #dropdownMenu2 {
  margin: 130px 5px 0px 5px;
  width: 160px;
  padding: none;
}

.dropdown-menu li:hover {
  cursor: pointer;
}

.score-box {
  width: 130px;
  height: 45px;
  margin: 130px 5px 50px 5px;
  background-color: #FEFE00;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px #FF8200;
  color: red;
  font-family: 'Henny Penny', cursive;
  font-size: 22px;
  line-height: 45px;
}

span {
  color: yellow;
}

.whitespace {
  height: 150px;
  width: 1000px;
  width: 100%;
}

.row {
	height: 150px;
  width: 1200px;
  margin: 0; 
}

.snippet {
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 100px;
  width: 300px;
}

.bucket {
  width: 320px;
  height: 260px;
  border-radius: 15px 15px 0 0;
  background-repeat: no-repeat;
  font-family: 'Slackey', cursive;
  font-size: 35px;
  vertical-align: bottom;
  text-indent: 60px;
  color: red;
  text-shadow: 3px 3px orange;
}

#bucket1 {
  background-image: url("images/bucket-1.png");
}

#bucket2 {
  background-image: url("images/bucket-2.png");
}

#bucket3 {
  background-image: url("images/bucket-3.png");
}

/*.bucket-text {
  margin: 75px 0 0 0;
}
.container {
	width: 1000px;
}*/



/*CSS for Tutorial Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 20px;
    font-family: 'Ubuntu Mono', serif;
    text-align: justify;
}

.tutorial-header {
  font-family: 'Henny Penny', cursive;
  text-align: center;
  font-size: 60px;
  color: red;
  text-shadow: 2px 2px #FEFE00;
}

.gameOver-header {
  font-family: 'Henny Penny', cursive;
  text-align: center;
  font-size: 60px;
  color: red;
  text-shadow: 2px 2px #FEFE00;
}

.game-name {
  font-family: 'Henny Penny', cursive;
  font-size: 26px;
  color: red;
  text-shadow: 1px 1px #FEFE00;
}

.come-down {
  text-align: center;
  font-size: 25px;
}

.tutorial-footer {
  font-family: 'Ubuntu Mono', serif;
  font-size: 35px;
  color: red;
  text-shadow: 2px 2px #FEFE00;
  text-align: center;
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
